@charset "ISO-8859-1";

.container button
{
	font-family: Arial, Helvetica, sans-serif;
	outline: 0;
	background:  linear-gradient(rgba(255,0,128,0.6),rgba(0,0,128,0.6));
	width: 50%;
	border: 0;
	padding: 15px;
	color: white;
	font-size: 20px;
	cursor: pointer;
	border-radius: 3rem;
	overflow: hidden;
	
}